@using TendalProject.Web.ViewModels.Cliente
@model CambiarPasswordViewModel


<div class="modal fade" id="cambiarPasswordModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <h5 class="modal-title">Cambiar contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>


            <form asp-action="ActualizarPassword" method="post">
                <div class="modal-body">


                    <div class="mb-3">
                        <label>Password actual</label>
                        <input asp-for="PasswordActual" type="password" class="form-control" />
                    </div>


                    <div class="mb-3">
                        <label>Nueva password</label>
                        <input asp-for="NuevoPassword" type="password" class="form-control" />
                    </div>


                    <div class="mb-3">
                        <label>Confirmar password</label>
                        <input asp-for="ConfirmarPassword" type="password" class="form-control" />
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>


        </div>
    </div>
</div>