.card {
    border: none !important;
    box-shadow: none !important;
    border-radius: 12px;
}
.card-title {
    color: #5d005d;
    font-weight: 700;
}

.btn-danger {
    display: inline-block;
    background-color: #800080;
    color: white;
    border : none;
    text-decoration: none;
}

    .btn-danger:hover {
        background-color: #ff0000;
        color: white;
    }
.btn-success {
    display: inline-block;
    background-color: #800080;
    color: white;
    border : none;
    text-decoration: none;
}

    .btn-success:hover {
        background-color: lawngreen;
        color: white;
    }