
.clientes-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
}


.page-header {
    margin-bottom: 20px;
}

.page-title {
    color: #5d005d;
    font-weight: 700;
}

.filtros-container label {
    font-weight: 500;
    font-size: 0.85rem;
}

.filtros-container .form-control,
.filtros-container .form-select {
    font-size: 0.85rem;
}
.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.registros-info {
    color: #333333;
    font-size: 0.9rem;
}

.tamanio-pagina {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-tamanio {
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #800080;
    color: #800080;
    text-decoration: none;
}

    .btn-tamanio.active,
    .btn-tamanio:hover {
        background-color: #800080;
        color: #ffffff;
    }

.pagination-custom {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    gap: 0.3rem;
}

.page-link-custom {
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    border: 1px solid #800080;
    color: #800080;
    text-decoration: none;
}

    .page-item-custom.active .page-link-custom,
    .page-link-custom:hover {
        background-color: #800080;
        color: #ffffff;
    }

.page-item-custom.disabled .page-link-custom {
    opacity: 0.4;
    pointer-events: none;
}


.table th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.table td {
    vertical-align: middle;
}


.table .btn {
    font-size: 0.75rem;
}

.table select {
    font-size: 0.75rem;
}


.estado-vacio {
    text-align: center;
    padding: 40px;
    color: #6c757d;
}

    .estado-vacio i {
        font-size: 40px;
        margin-bottom: 10px;
    }



.btn-outline-info {
    color: #800080;
    border-color: #800080;
}

    .btn-outline-info:hover {
        color: #fff;
        background-color: #5d005d;
    }

.btn-primary {
    background-color: #800080;
    border: none;
}

    .btn-primary:hover {
        background-color: #5d005d;
    }

