@{
    ViewData["Title"] = "Pago exitoso";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Pago/PagoExitoso.css" />
    <link rel="stylesheet" href="~/css/Ecommerce/_BaseEcommerce.css" />
}

<div class="empty-state">
    <div style="font-size:4rem">💳</div>
    <h4>Pago realizado con exito!</h4>
    <p>Explora nuestros productos y sigue comprando.</p>

    <a asp-controller="Ecommerce"
       asp-action="Catalogo"
       class="empty-state-link">
        Seguir comprando →
    </a>
</div>