h1 {
    color: #800080;
    font-weight: 700;
}

dl {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
}

dt {
    font-weight: 600;
    color: #333;
}

dd {
    margin-bottom: 1rem;
}

.btn-danger {
    background-color: #800080;
    border: none;
    font-weight: 600;
}

.btn-success {
    background-color: #3CB371;
    border: none;
    font-weight: 600;
}
