

h1 {
    color: #5d005d;
    font-weight: 700;
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
}

label {
    font-weight: 600;
}

.form-control {
    border-radius: 8px;
}

.btn-primary {
    background-color: #800080;
    border: none;
}

    .btn-primary:hover {
        background-color: #5d005d;
    }

a {
    font-weight: 600;
    color: #800080;
}
