/* ===== LISTAR PROVEEDORES ===== */

.clientes-container {
    padding: 2rem;
    background-color: #f8f9fa;
}

.page-title {
    color: #5d005d;
    font-weight: 700;
}

.btn-agregar {
    display: inline-block;
    margin-bottom: 1rem;
    background-color: #FFD700;
    color: #333333;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
}

    .btn-agregar:hover {
        background-color: #e6c200;
        color: #333333
    }

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    color: #800080;
    font-weight: 700;
}

.badge {
    background-color: #3CB371;
}

.custom-buttons .btn-outline-primary {
    border-color: #800080;
    color: #800080;
}

    .custom-buttons .btn-outline-primary:hover {
        background-color: #800080;
        color: #ffffff;
    }

.custom-buttons .btn-primary {
    background-color: #800080;
    color: white;
    border: none;
}

    .custom-buttons .btn-primary:hover {
        background-color: #5d005d;
    }

.pagination-custom {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.page-link-custom {
    padding: 0.4rem 0.7rem;
    border: 1px solid #800080;
    border-radius: 6px;
    color: #800080;
    text-decoration: none;
}

    .page-item-custom.active .page-link-custom,
    .page-link-custom:hover {
        background-color: #800080;
        color: #ffffff;
    }

.page-item-custom.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.estado-vacio {
    text-align: center;
    padding: 3rem;
    color: #333333;
}

    .estado-vacio i {
        font-size: 3rem;
        color: #800080;
    }

.btn-primary {
    background-color: #3CB371;
    border: none;
}

    .btn-primary:hover {
        background-color: #2E8B57;
    }