@model TendalProject.Web.ViewModels.Auth.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - Tendal Market</title>
    <link rel="stylesheet" href="~/css/Auth//Login.css" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo-area">
                <img src="~/tendal.png" alt="Tendal Market Logo" class="brand-logo" />
                <h1 class="brand-name">Tendal Market</h1>
            </div>

            <form asp-controller="Auth" asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2 class="form-title">Inicia Sesión</h2>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="nombre@ejemplo.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Recordarme" />
                    <label class="form-check-label" asp-for="Recordarme">
                        Recuérdame
                    </label>
                </div>

                <button type="submit" class="btn btn-primary-tendal">Ingresar</button>

                <div class="register-link">
                    <p>¿Aún no tienes cuenta? <a asp-controller="Auth" asp-action="Registro">Regístrate aquí</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>